{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
  },
  "extends": "airbnb-base/legacy",
  "rules": {
    "vars-on-top": 0,
    "no-console": 0,
    "global-require": 0,
    "max-len": 0,
    "new-cap": 0,
    "func-names": 0,
    "consistent-return": 0
  }
}